{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

{% block title %}TLog - {% trans "Profile" %}{% endblock %}

{% block extra_css %}
<!-- Дополнительные стили для dashboard -->
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="main-container">
        {% block dashboard_content %}{% endblock %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- Дополнительные скрипты для dashboard -->
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
